
/* for debugging and testing */
/* .viewBox{
    border: 1px solid var(---line);
} */

.cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(---black);
    background-color: #20202017;
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 2;
}

.hover1{
    transition: color .5s ease;
}

.hover1:hover{
    color: var(---black);
}

a:hover{
    cursor: none;
}

a.clickLink:hover{
    text-decoration: underline;
    color: var(---black);
}

.content.gallery .gallery-item:hover .info{
    display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cursor{
        display: none;
    }
    .greetings{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .greetings .sides{
        width: 100%;
    }

    .content.text{
        width: 100%;
    }

    .content.gallery{
        flex-direction: column;
    }

    .content.gallery .gallery-item{
        width: 100%;
        height: 500px;
        margin: 0;
        margin-bottom: 10px;
    }
}